* {
    font-family: 'Open Sans', sans-serif;
}


.cards {
    background-color: #C8A2C8;
    border: 1px groove;
    border-radius: 12px;
    padding: 1px;
    justify-content: space-around;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    border-radius: 12px;
    padding: 12px;
    border-radius: 20px;
}

p {
    text-align: center;
}

